<a href="https://colab.research.google.com/github/PawanSran/PythonLearn/blob/master/kpmg_modulue_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
TrainRawPath = "/content/drive/My Drive/KPMG/train_data.csv"
TestRawPath = "/content/drive/My Drive/KPMG/test_data.csv"

In [ ]:
train_data = pd.read_csv(TrainRawPath, header='infer')
test_data = pd.read_csv(TestRawPath, header='infer')

In [ ]:
train_data

       transaction_id  product_id  ...    country property_valuation
0                94.0        86.0  ...  Australia               10.0
1              3765.0        38.0  ...  Australia               10.0
2              5157.0        47.0  ...  Australia               10.0
3              9785.0        72.0  ...  Australia               10.0
4             13424.0         2.0  ...  Australia               10.0
...               ...         ...  ...        ...                ...
19996          2463.0         2.0  ...  Australia               10.0
19997          8708.0         0.0  ...        NaN                NaN
19998         16701.0         0.0  ...        NaN                NaN
19999         17469.0         0.0  ...        NaN                NaN
20000             NaN         NaN  ...        NaN                NaN

[20001 rows x 28 columns]

In [ ]:
train_data.shape

(20001, 28)

In [ ]:
train_data.describe()

       transaction_id   product_id  ...      postcode  property_valuation
count    20000.000000  20000.00000  ...  19968.000000        19968.000000
mean     10000.500000     45.36465  ...   2987.623347            7.516376
std       5773.647028     30.75359  ...    851.306647            2.824783
min          1.000000      0.00000  ...   2000.000000            1.000000
25%       5000.750000     18.00000  ...   2200.000000            6.000000
50%      10000.500000     44.00000  ...   2767.000000            8.000000
75%      15000.250000     72.00000  ...   3754.000000           10.000000
max      20000.000000    100.00000  ...   4883.000000           12.000000

[8 rows x 10 columns]

In [ ]:
train_data.isna().sum()

transaction_id                            1
product_id                                1
customer_id                               1
transaction_date                          1
online_order                            361
order_status                              1
brand                                   198
product_line                            198
product_class                           198
product_size                            198
list_price                                1
standard_cost                           198
product_first_sold_date                 198
gender                                    4
past_3_years_bike_related_purchases       4
DOB                                     459
AGE                                       4
job_title                              2398
job_industry_category                  3233
wealth_segment                            4
deceased_indicator                        4
owns_car                                  4
tenure                                    4
address                                  33
postcode                                 33
state                                    33
country                                  33
property_valuation                       33
dtype: int64

In [ ]:
train_data['deceased_indicator'].value_counts()

N    19989
Y        8
Name: deceased_indicator, dtype: int64

In [ ]:
train_data = train_data[train_data['deceased_indicator'] != 'Y']

In [ ]:
train_data['deceased_indicator'].value_counts()

N    19989
Name: deceased_indicator, dtype: int64

In [ ]:
train_data.dtypes

transaction_id                         float64
product_id                             float64
customer_id                            float64
transaction_date                        object
online_order                            object
order_status                            object
brand                                   object
product_line                            object
product_class                           object
product_size                            object
list_price                             float64
standard_cost                          float64
product_first_sold_date                 object
gender                                  object
past_3_years_bike_related_purchases    float64
DOB                                     object
AGE                                    float64
job_title                               object
job_industry_category                   object
wealth_segment                          object
deceased_indicator                      object
owns_car                                object
tenure                                 float64
address                                 object
postcode                               float64
state                                   object
country                                 object
property_valuation                     float64
dtype: object

In [ ]:
train_data['online_order'].value_counts()
train_data['property_valuation'].value_counts()

8.0     3342
9.0     3260
10.0    2850
7.0     2371
11.0    1396
6.0     1181
5.0     1130
4.0     1070
12.0     971
3.0      895
1.0      807
2.0      687
Name: property_valuation, dtype: int64

In [ ]:
#df = train_data[train_data['brand'].notna()]

In [ ]:
df.dtypes
convert_types={'postcode':object,'property_valuation':object, 'DOB': str}

df=df.astype(convert_types)

In [ ]:
pd.concat([df.dtypes , df.isna().sum()], axis=1)

                                           0     1
transaction_id                       float64     0
product_id                           float64     0
customer_id                          float64     0
transaction_date                      object     0
online_order                          object   358
order_status                          object     0
brand                                 object     0
product_line                          object     0
product_class                         object     0
product_size                          object     0
list_price                           float64     0
standard_cost                        float64     0
product_first_sold_date               object     0
gender                                object     3
past_3_years_bike_related_purchases  float64     3
DOB                                   object     0
AGE                                  float64     3
job_title                             object  2367
job_industry_category                 object  3201
wealth_segment                        object     3
deceased_indicator                    object     3
owns_car                              object     3
tenure                               float64     3
address                               object    30
postcode                              object    30
state                                 object    30
country                               object    30
property_valuation                    object    30

In [ ]:
import numpy as np

df_object = df.select_dtypes(include='object').fillna("Not_Applicable")
df_float = df.select_dtypes(include='float64')
df_int = df.select_dtypes(include='int64')

for i in df_float:
   df_float[i] = df_float[i].fillna(np.nanmedian(df_float[i]))

df_final = pd.concat([df_int, df_object, df_float], axis = 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df

       transaction_id  product_id  ...    country property_valuation
0                94.0        86.0  ...  Australia                 10
1              3765.0        38.0  ...  Australia                 10
2              5157.0        47.0  ...  Australia                 10
3              9785.0        72.0  ...  Australia                 10
4             13424.0         2.0  ...  Australia                 10
...               ...         ...  ...        ...                ...
19995         19836.0        40.0  ...  Australia                 10
19996          2463.0         2.0  ...  Australia                 10
19997          8708.0         0.0  ...        NaN                NaN
19998         16701.0         0.0  ...        NaN                NaN
19999         17469.0         0.0  ...        NaN                NaN

[19795 rows x 28 columns]

In [ ]:
df_final.isna().sum()

transaction_date                       0
online_order                           0
order_status                           0
brand                                  0
product_line                           0
product_class                          0
product_size                           0
product_first_sold_date                0
gender                                 0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
address                                0
postcode                               0
state                                  0
country                                0
property_valuation                     0
transaction_id                         0
product_id                             0
customer_id                            0
list_price                             0
standard_cost                          0
past_3_years_bike_related_purchases    0
AGE                                    0
tenure                                 0
dtype: int64

In [ ]:
df_final.shape

(19795, 28)

In [ ]:
df_final['profit'] = df_final['list_price'] - df_final['standard_cost']

In [ ]:
df_final.shape

(19795, 29)

In [ ]:
df_final

      transaction_date online_order order_status  ...   AGE tenure  profit
0             12/23/17        False     Approved  ...  66.0   11.0  110.56
1               4/6/17         True     Approved  ...  66.0   11.0  751.02
2              5/11/17         True     Approved  ...  66.0   11.0  189.28
3               1/5/17        False     Approved  ...  66.0   11.0   90.10
4              2/21/17        False     Approved  ...  66.0   11.0   17.87
...                ...          ...          ...  ...   ...    ...     ...
19995          3/14/17         True     Approved  ...  53.0   17.0  583.27
19996          4/25/17        False     Approved  ...  53.0   17.0   17.87
19997          10/7/17        False     Approved  ...  43.0   10.0  104.24
19998          1/27/17        False     Approved  ...  43.0   10.0   90.10
19999           1/3/17        False     Approved  ...  43.0   10.0   75.14

[19795 rows x 29 columns]

In [ ]:
grouped_out = df_final.groupby('customer_id').agg(
    mean_list_price= pd.NamedAgg(column='list_price', aggfunc='mean'),
    freq_transaction = pd.NamedAgg(column='transaction_id', aggfunc='count'),
    tenure = pd.NamedAgg(column='tenure', aggfunc='max'),
    profit = pd.NamedAgg(column='profit', aggfunc='sum')
)

In [ ]:
grouped_out['c_id'] = grouped_out.index.values

In [ ]:
grouped_out

             mean_list_price  freq_transaction  tenure   profit    c_id
customer_id
1.0               825.859091                11    11.0  3018.09     1.0
2.0              1383.023333                 3    16.0  2226.26     2.0
3.0              1236.028750                 8    15.0  3362.81     3.0
4.0               523.860000                 2     7.0   220.57     4.0
5.0               983.866667                 6     8.0  2394.94     5.0
...                      ...               ...     ...      ...     ...
3497.0           1248.023333                 3    18.0  1648.32  3497.0
3498.0            862.843333                 6     5.0  3147.33  3498.0
3499.0           1096.211429                 7     7.0  4955.25  3499.0
3500.0            820.401667                 6    17.0  1785.86  3500.0
5034.0            506.640000                 3    10.0   269.48  5034.0

[3493 rows x 5 columns]

In [ ]:
total_profit = grouped_out['profit'].sum()

In [ ]:
total_profit

10922556.79

In [ ]:
grouped_out['clv'] = (grouped_out['mean_list_price']* grouped_out['freq_transaction'] * grouped_out['tenure'] *grouped_out['profit']) / total_profit

In [ ]:
grouped_out

             mean_list_price  freq_transaction  ...    c_id        clv
customer_id                                     ...
1.0               825.859091                11  ...     1.0  27.612085
2.0              1383.023333                 3  ...     2.0  13.530764
3.0              1236.028750                 8  ...     3.0  45.665460
4.0               523.860000                 2  ...     4.0   0.148104
5.0               983.866667                 6  ...     5.0  10.354945
...                      ...               ...  ...     ...        ...
3497.0           1248.023333                 3  ...  3497.0  10.170298
3498.0            862.843333                 6  ...  3498.0   7.458838
3499.0           1096.211429                 7  ...  3499.0  24.368661
3500.0            820.401667                 6  ...  3500.0  13.682007
5034.0            506.640000                 3  ...  5034.0   0.374993

[3493 rows x 6 columns]

In [ ]:
#gender	past_3_years_bike_related_purchases	DOB	job_title	job_industry_category	wealth_segment	deceased_indicator	owns_car	tenure	address	postcode	state	country	property_valuation
grouped_out.columns

Index(['mean_list_price', 'freq_transaction', 'tenure', 'profit', 'c_id',
       'clv'],
      dtype='object')

In [ ]:
data_1 = df_final[['gender','past_3_years_bike_related_purchases',
                   'AGE','job_title','job_industry_category','wealth_segment',
                   'owns_car','tenure','address','postcode',
                   'state','country','property_valuation', 'customer_id']]

In [ ]:
data_1

               gender  ...  customer_id
0              Female  ...          1.0
1              Female  ...          1.0
2              Female  ...          1.0
3              Female  ...          1.0
4              Female  ...          1.0
...               ...  ...          ...
19995          Female  ...       3500.0
19996          Female  ...       3500.0
19997  Not_Applicable  ...       5034.0
19998  Not_Applicable  ...       5034.0
19999  Not_Applicable  ...       5034.0

[19795 rows x 14 columns]

In [ ]:
final_model_data = pd.merge(data_1, grouped_out[['c_id','clv']], left_on='customer_id', right_on = 'c_id', how = 'left')

In [ ]:
final_model_data[['c_id', 'customer_id', 'clv']]

         c_id  customer_id        clv
0         1.0          1.0  27.612085
1         1.0          1.0  27.612085
2         1.0          1.0  27.612085
3         1.0          1.0  27.612085
4         1.0          1.0  27.612085
...       ...          ...        ...
19790  3500.0       3500.0  13.682007
19791  3500.0       3500.0  13.682007
19792  5034.0       5034.0   0.374993
19793  5034.0       5034.0   0.374993
19794  5034.0       5034.0   0.374993

[19795 rows x 3 columns]

In [ ]:
final_model_data.drop_duplicates().shape

(3493, 16)

In [ ]:
final_model_data.columns

Index(['gender', 'past_3_years_bike_related_purchases', 'AGE', 'job_title',
       'job_industry_category', 'wealth_segment', 'owns_car', 'tenure',
       'address', 'postcode', 'state', 'country', 'property_valuation',
       'customer_id', 'c_id', 'clv'],
      dtype='object')

In [ ]:
final_model_data = final_model_data.drop(['c_id','customer_id', 'address', 'country', 'postcode', 'job_title', 'tenure'], axis=1)

In [ ]:
final_model_data.shape

(19795, 9)

In [ ]:
final_model_data.columns

Index(['gender', 'past_3_years_bike_related_purchases', 'AGE',
       'job_industry_category', 'wealth_segment', 'owns_car', 'state',
       'property_valuation', 'clv'],
      dtype='object')



```
one hot encoding
```

In [ ]:
final_model_data.dtypes

gender                                  object
past_3_years_bike_related_purchases    float64
AGE                                    float64
job_industry_category                   object
wealth_segment                          object
owns_car                                object
state                                   object
property_valuation                      object
clv                                    float64
dtype: object

In [ ]:
obj_final = final_model_data.select_dtypes(include='object')
float_final = final_model_data.select_dtypes(include='float64')

print(obj_final.shape)
print(float_final.shape)
print(final_model_data.shape)

temp = obj_final.columns.to_list()
print(temp)

(19795, 6)
(19795, 3)
(19795, 9)
['gender', 'job_industry_category', 'wealth_segment', 'owns_car', 'state', 'property_valuation']

In [ ]:
temp_obj = ['gender', 'job_industry_category', 'wealth_segment', 'owns_car', 'state', 'property_valuation']

In [ ]:
df_encoded = pd.get_dummies(final_model_data,columns= temp_obj)

#pd.concat(df_encoded, float_final)

In [ ]:
df_encoded.shape

(19795, 41)

In [ ]:
df_encoded.columns

Index(['past_3_years_bike_related_purchases', 'AGE', 'clv', 'gender_Female',
       'gender_Male', 'gender_Not_Applicable', 'gender_U',
       'job_industry_category_Argiculture',
       'job_industry_category_Entertainment',
       'job_industry_category_Financial Services',
       'job_industry_category_Health', 'job_industry_category_IT',
       'job_industry_category_Manufacturing',
       'job_industry_category_Not_Applicable',
       'job_industry_category_Property', 'job_industry_category_Retail',
       'job_industry_category_Telecommunications',
       'wealth_segment_Affluent Customer', 'wealth_segment_High Net Worth',
       'wealth_segment_Mass Customer', 'wealth_segment_Not_Applicable',
       'owns_car_No', 'owns_car_Not_Applicable', 'owns_car_Yes', 'state_NSW',
       'state_Not_Applicable', 'state_QLD', 'state_VIC',
       'property_valuation_1.0', 'property_valuation_2.0',
       'property_valuation_3.0', 'property_valuation_4.0',
       'property_valuation_5.0', 'property_valuation_6.0',
       'property_valuation_7.0', 'property_valuation_8.0',
       'property_valuation_9.0', 'property_valuation_10.0',
       'property_valuation_11.0', 'property_valuation_12.0',
       'property_valuation_Not_Applicable'],
      dtype='object')



```
Train - Test split
```

In [ ]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.16.0)

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df_encoded, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
print(train.shape)
print(test.shape)

(15836, 41)
(3959, 41)

In [ ]:
train_y = train['clv']
train_x = train.drop('clv', axis=1)

test_y = test['clv']
test_x = test.drop('clv', axis=1)

print(train_x.shape)
print(train_y.shape)

print(test_x.shape)
print(test_y.shape)

(15836, 40)
(15836,)
(3959, 40)
(3959,)



```
Variable Selection
Recurrsive Feature elimination
```

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LassoCV

model = LinearRegression()
#Initializing RFE model
rfe = RFE(model, 20)

#Transforming data using RFE
X_rfe = rfe.fit_transform(train_x,train_y)

#Fitting the data to model
model.fit(X_rfe,train_y)

print(rfe.support_)
print(rfe.ranking_)

cols = list(train_x.columns)

temp = pd.Series(rfe.support_,index = cols)
selected_features_rfe = temp[temp==True].index
print(selected_features_rfe)

[False False  True  True  True  True  True  True False  True False False
  True  True  True False False False  True  True False  True False False
 False False False  True False False  True  True False  True  True False
 False  True  True False]
[21 10  1  1  1  1  1  1  5  1  4  8  1  1  1 19 16  2  1  1 17  1  3 18
 15  6 11  1  9 20  1  1 14  1  1 13  7  1  1 12]
Index(['gender_Female', 'gender_Male', 'gender_Not_Applicable', 'gender_U',
       'job_industry_category_Argiculture',
       'job_industry_category_Entertainment', 'job_industry_category_Health',
       'job_industry_category_Not_Applicable',
       'job_industry_category_Property', 'job_industry_category_Retail',
       'wealth_segment_Mass Customer', 'wealth_segment_Not_Applicable',
       'owns_car_Not_Applicable', 'property_valuation_1.0',
       'property_valuation_4.0', 'property_valuation_5.0',
       'property_valuation_7.0', 'property_valuation_8.0',
       'property_valuation_11.0', 'property_valuation_12.0'],
      dtype='object')

In [ ]:
reg = LassoCV()
reg.fit(train_x, train_y)
print("Best alpha using built-in LassoCV: %f" % reg.alpha_)
print("Best score using built-in LassoCV: %f" %reg.score(train_x,train_y))
coef = pd.Series(reg.coef_, index = cols)

importance = np.abs(reg.coef_)
print(importance)

#print("Lasso picked " + str(sum(coef != 0)) + " variables and eliminated the other " +  str(sum(coef == 0)) + " variables")

Best alpha using built-in LassoCV: 0.033610
Best score using built-in LassoCV: 0.062650
[5.27199943e-03 5.20104601e-01 0.00000000e+00 1.65139984e-01
 0.00000000e+00 6.65526730e+01 3.25889724e+00 5.00425396e+00
 0.00000000e+00 1.07238555e+00 8.13039121e-01 0.00000000e+00
 2.12616648e+00 1.11640867e+00 2.11842716e+00 0.00000000e+00
 7.41189826e-01 0.00000000e+00 2.32803504e-01 0.00000000e+00
 0.00000000e+00 0.00000000e+00 7.53533476e-01 0.00000000e+00
 0.00000000e+00 6.34330176e-01 2.11708597e-01 1.01555639e+00
 9.44234684e-02 0.00000000e+00 2.58513744e+00 3.97536594e+00
 0.00000000e+00 2.02617864e+00 1.42821704e+00 1.86034384e-01
 1.30922127e+00 1.08916524e+00 4.61069386e+00 0.00000000e+00]

In [ ]:
#imp_coef = coef.sort_values()
#import matplotlib.pyplot as plt
#import matplotlib

#matplotlib.rcParams['figure.figsize'] = (8.0, 10.0)
#imp_coef.plot(kind = "barh")
#plt.title("Feature importance using Lasso Model")

In [ ]:
cols_to_model = ['gender_Female', 'gender_Male', 'gender_Not_Applicable', 'gender_U',
       'job_industry_category_Argiculture',
       'job_industry_category_Entertainment', 'job_industry_category_Health',
       'job_industry_category_Not_Applicable',
       'job_industry_category_Property', 'job_industry_category_Retail',
       'wealth_segment_Mass Customer', 'wealth_segment_Not_Applicable',
       'owns_car_Not_Applicable', 'property_valuation_1.0',
       'property_valuation_4.0', 'property_valuation_5.0',
       'property_valuation_7.0', 'property_valuation_8.0',
       'property_valuation_11.0', 'property_valuation_12.0']

In [ ]:
model_data = train_x[cols_to_model]

In [ ]:
model_data.shape

(15836, 20)



```
Linear Regression
```

In [ ]:
from sklearn.model_selection import cross_val_score
# function to get cross validation scores
def get_cv_scores(model, X, y):
    scores = cross_val_score(model,X,y,cv=5,scoring='r2')
    
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

In [ ]:
from sklearn.linear_model import LinearRegression

# Train model
lr = LinearRegression().fit(model_data, train_y)

# get cross val scores
get_cv_scores(lr, model_data , train_y)

CV Mean:  -1.7016146512821195e+21
STD:  3.403229302564239e+21

In [ ]:
from sklearn.linear_model import Ridge
# Train model with default alpha=1
ridge = Ridge(alpha=1).fit(model_data, train_y)
# get cross val scores
get_cv_scores(ridge, model_data, train_y)

CV Mean:  0.021347720294256668
STD:  0.0033234062843063216

In [ ]:
from sklearn.model_selection import learning_curve, GridSearchCV

# find optimal alpha with grid search
alpha = [0.001, 0.01, 0.1, 1, 10, 100, 1000]
param_grid = dict(alpha=alpha)
grid = GridSearchCV(estimator=ridge, param_grid=param_grid, scoring='r2', verbose=1, n_jobs=-1)
grid_result = grid.fit(model_data, train_y)
print('Best Score: ', grid_result.best_score_)
print('Best Params: ', grid_result.best_params_)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Best Score:  0.021367511970068875
Best Params:  {'alpha': 10}

[Parallel(n_jobs=-1)]: Done  35 out of  35 | elapsed:    1.8s finished

In [ ]:
from sklearn.linear_model import Ridge
# Train model with default alpha=1
ridge = Ridge(alpha=10).fit(model_data, train_y)
# get cross val scores
get_cv_scores(ridge, model_data, train_y)

CV Mean:  0.021367511970068854
STD:  0.0032691156958411156

In [ ]:
from sklearn.linear_model import Lasso
# Train model with default alpha=1
lasso = Lasso(alpha=1).fit(model_data, train_y)
# get cross val scores
get_cv_scores(lasso, model_data, train_y)

CV Mean:  -0.00019422398921347116
STD:  0.00023586671564865025